.shop-frontpage {
  margin-top: 130px;
  height: 100vh;
  width: 100%;
  display: flex;
  overflow-y: auto;
}

.shop-content {
  width: calc(100% - 15vw);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.category-filter {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 20px;
  width: 100%;
  position: sticky;
  top: 0;
  height: auto;
  overflow-y: auto;
}

.category-filter label {
  display: none;
}

.category-filter select {
  margin: 15px 0;
  border-color: rgb(0, 0, 0);
  border-radius: 0%;
}

@media (min-width: 768px) {
  .category-filter {
    width: 15vw;
    height: 100vh;
  }

  .category-filter label {
    display: block;
    font-size: 1.5rem;
    color: black;
    font-family: 'Playfair Display';
  }
}
