.shopping-cart-modal {
  border-radius: 0;
}
.CartLinkButton {
  position: relative !important;
}
.cartSvg {
  width: 2.2rem;
  height: 2.2rem;
}
.shopping-cart-header {
  border: none;
  color: white;
  background-color: rgb(243, 134, 115);
}

/* .shopping-cart-title {
}

.shopping-cart-body {
} */

.shopping-cart-footer {
  display: flex !important;
  justify-content: space-around !important;
}

.shopping-cart-button-clear {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-weight: bold;
  width: 100px;
  height: 30px;
  border: none !important;
  background-color: rgb(243, 134, 115) !important;
}
.shopping-cart-button-checkout {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-weight: bold;
  width: 100px;
  height: 30px;
  border: none !important;
  background-color: rgb(243, 134, 115) !important;
}
.EmptyCartInfo {
  text-align: center;
}
