.shopping-cart-modal {
  border-radius: 0;
  font-family: 'sans serif';
}

.CartButton {
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 3rem !important;
  width: 3rem !important;
}

.shopping-cart-body {
  text-align: center;
}

.cart-shop-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13em;
  height: 3em;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(243, 134, 115);

  letter-spacing: 1px;
  margin-top: 1rem;
}
.cart-shop-button a {
  color: white !important;
}

.emptyMessageContainer {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.cartSvg {
  width: 2.2rem;
  height: 2.2rem;
}

.shopping-cart-header {
  border: none;
  color: black;
  background-color: white;
}

.productContainer {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 100%;
}

.image img {
  height: auto !important;
  width: 100% !important;
}

.productInfo {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}

.productName {
  font-size: 1.3rem;
}

.itemPrice {
  font-size: 1.3rem;
}

.productAddnDelete {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.productAddnDelete button {
  margin-left: 10px;
  margin-right: 10px;
}

.shopping-cart-footer {
  display: flex !important;
  justify-content: space-around !important;
}

.shopping-cart-button-clear,
.shopping-cart-button-checkout {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100px;
  height: 30px;
  border: 1px solid rgb(243, 134, 115) !important;
  border-radius: 0 !important;
  background-color: rgb(243, 134, 115) !important;
}

.totalPrice {
  text-align: end;
}

.EmptyCartInfo {
  text-align: center;
}

.emptyMessageContainer {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

a {
  text-decoration: none !important;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .shopping-cart-modal {
    width: 90%;
    margin: auto;
  }

  .shopping-cart-footer {
    flex-direction: column;
    gap: 10px;
  }

  .productContainer {
    flex-direction: column;
    gap: 10px;
  }
}
