.footer-wrapper {
  background-color: rgb(238, 238, 238);
  color: black;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  font-family: sans-serif;
  width: 100%;
}

.footer-wrapper div figure img {
  height: 1.3rem;
  width: 12.5rem;
}

a {
  padding: 15px;
}
