.footer-wrapper {
  background-color: rgb(238, 238, 238);
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: sans-serif;
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
}

.footer-wrapper div figure img {
  height: 1.3rem;
  width: 12.5rem;
}

a {
  padding: 15px;
}
.copyright {
  width: 100%;
}
.patience {
  font-size: xx-small;
  font-weight: 100;
}
